@mixin margin-center {
    max-width: $grid-width;
    margin: 0 auto;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin respond($breakpoint) {
    @if $breakpoint == iphone5__vertical {
        @media (max-width: 20em) {@content;} //320px
    }
    @if $breakpoint == iphone5__horizontal {
        @media (max-width: 35.5em) {@content;} //568px
    }
    @if $breakpoint == GalaxyS5 {
        @media (max-width: 22.5em) {@content;} //360px
    }
    @if $breakpoint == iphone678__vertical {
        @media (max-width: 23.5em) {@content;} //376px
    }
    @if $breakpoint == iphone678__horizontal {
        @media (max-width: 41.5em) {@content;} //667px
    }
    @if $breakpoint == iphone8plus {
        @media (max-width: 25.875em) {@content;} //414px
    }
    @if $breakpoint == iphone8plus__horizontal {
        @media (max-width: 46em) {@content;} //736px
    }
    @if $breakpoint == ipad__vertical  {
        @media (max-width: 46.0625em) {@content;} //768px
    }
    @if $breakpoint == ipad__horizontal {
        @media (max-width: 64em) {@content;} //1024px
    }
    @if $breakpoint == big-desktop  {
        @media (max-width: 120em) {@content;} //1920px
    }
    // current width : 1366px; (85.75em)
}