.footer {
    background-color: $color-black-subtle;
    padding: 10rem;
    font-size: 1.4rem;

    @include respond(iphone8plus) {
        padding: 5rem;
    }
    // LOGO
    &__logo--box {
        text-align: center;
        margin-bottom: 8rem;

        @include respond(iphone8plus) {
            margin-bottom: 3rem;
        }
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    // LAYOUT OF FOOTER
    &__container {
        max-width: 114rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 6rem;
        grid-template-areas: "Navigation  Copyright";

        @include respond(iphone8plus) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 4rem;
            grid-template-areas: 
            "Navigation"  
            "Copyright";
        }

        &--item1 {
            grid-area: Navigation;
            text-align: center;

        }

        &--item2 {
            grid-area: Copyright;
        }
    }

    // NAVIGATION
    &__navigation {
        border-top: 1px solid #eee;
        padding-top: 2rem;
        display: inline-block;
    }
    &__list {
        list-style: none;
        display: flex;
        flex-direction: row;

        &--item {
            padding: 1rem;
        }
    }

    // COPYRIGHT 
    &__copyright {
        color: white;
        border-top: 1px solid #eee;
        padding-top: 2rem;
        width: 80%;
        float: right;
        text-align: center;

        @include respond(iphone8plus) {
            border: none;
            padding-top: 0;
        }

        &--newline {
            padding: 1rem;
            display: block;
        }
    }

    // FOOTER LINK WITH HOVER ANIMATION 
    &__link {
        color: $color-grey-light-1;
        background-color: $color-black-subtle;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        transition: all .2s;

        &:hover {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
            transform: rotate(5deg) scale(1.3);
        }
    }
}