.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.822), 
        rgba($color-primary-dark, 0.822)),
    url(../img//hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0% 0%,100% 0%,100% 75vh,0% 100%);
    position: relative;

    @include respond(ipad__vertical) {
        clip-path: polygon(0% 0%, 100% 0%, 100% 65vh, 0% 80%);
    }
    @include respond(iphone8plus__horizontal) {
        clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 95%);
    }
    @include respond(iphone678__vertical) {
        clip-path: polygon(0% 0%, 100% 0%, 100% 85vh, 0% 100%);
    }
    

    &__logobox {
        position: absolute;
        top: 40px;
        left: 40px;

        @include respond(iphone8plus__horizontal) {
            top: 25px;
            left: 25px;
        }

        &--logo {
            height: 35px;  

            @include respond(ipad__vertical) {
                height: 50px;  
            }

            @include respond(iphone8plus) {
                height: 35px;  
            }

            @include respond(iphone8plus__horizontal) {
                height: 35px;  
            }
        }
    }

    &__textBox--position {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        @include respond(ipad) {
            top: 35%;
        }
        @include respond(iphone8plus__horizontal) {
            top: 45%;
        }
        @include respond(iphone678__vertical) {
            top: 35%;
        }
    }

    &__heading {
        color: $color-white;
        text-transform: uppercase;
        text-align: center;
        backface-visibility: hidden;
        margin-bottom: 60px;

        @include respond(iphone8plus) {
            margin-bottom: 30px;
        }
        @include respond(iphone8plus__horizontal) {
            margin-bottom: 20px;
        }
        
        &--main {
            display: block;
            font-size: 60px;
            font-weight: 700;
            letter-spacing: 35px;
        
            animation: moveInLeft 1.3s ease-out;

            @include respond(iphone8plus) {
                font-size: 35px;
                letter-spacing:10px;
            }

            @include respond(iphone8plus__horizontal) {
                font-size: 50px;
                letter-spacing:17px;
            }

            @include respond(iphone678__vertical) {
                font-size: 45px;
                letter-spacing: 10px;
            }
        }

        &--sub {
            display: block;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 17.4px;
        
            animation: moveInRight 1.3s ease-out;

            @include respond(iphone8plus) {
                font-size: 10px;
                letter-spacing:5px;
            }
            @include respond(iphone8plus__horizontal) {
                font-size: 16px;
                letter-spacing:7px;
            }
        }
    }
}

