@import '../abstracts/variables';

.section__about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -25vh;
    
    @include respond(ipad__vertical) {
        padding: 35rem 0;
        margin-top: -32vh;
    }
    @include respond(iphone8plus) {
        padding: 35rem 0 17rem 0;
        margin-top: -40vh;
    }
    @include respond(iphone8plus__horizontal) {
        padding: 25rem 0 15rem 0;
        margin-top: -32vh;
    }
    @include respond(iphone678__vertical) {
        padding: 25rem 0 15rem 0;
        margin-top: -13vh;
    }
    
    // TEXT OF ABOUT SECTION
    &--heading {
        font-size: $default-font-size;
        font-weight: 700;
        text-transform: uppercase;
    }

    &--paragraph {
        font-size: $default-font-size;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }

    // LAYOUT OF ABOUT SECTION
    .content__container {
        @include margin-center;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "paragraph image";
        column-gap: 6rem;

        @include respond(ipad__horizontal) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:  
            "image"
            "paragraph";
            row-gap: 4rem;
        }

        &:not(:last-child) {
            margin-bottom: $gutter-vertical;
        }

        &--left {
            grid-area: paragraph;

            @include respond(ipad__horizontal) {
                margin-left: 100px;
                margin-right: 100px;
            }
            @include respond(iphone8plus__horizontal) {
                margin-left: 100px;
                margin-right: 100px;
                margin-top: 25px;
            }
            @include respond(iphone8plus) {
                margin-left: 55px;
                margin-right: 55px;
                margin-top: 20px;
            }
        }

        &--right {
            grid-area: image;
        }
    }
}

// IMAGE SECTION
.composition {
    position: relative;
    
    &:hover &__photo:not(:hover) {
        transform: scale(0.95);
    }

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius : 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;

        @include respond(ipad__horizontal) {
            width: 35%;
        }
        @include respond(iphone8plus) {
            width: 50%;
        }
        @include respond(iphone678__vertical) {
            width: 35%;
        }
        &--p1 {    
            left: 0;
            top: -2rem;

            @include respond(ipad__horizontal) {
                left: 20rem;
                top: -2rem;
            }
            @include respond(iphone678__vertical) {
                left: 23rem;
                top: -2rem;
            }
        }

        &--p2 {
            right: 0;
            top: 2rem;

            @include respond(ipad__horizontal) {
                right: 21rem;
                top: 2rem;
            }
            @include respond(iphone8plus) {
                right: 25rem;
                top: 7rem;
            }
            @include respond(iphone678__vertical) {
                right: 19rem;
                top: 5rem;
            }
        }

        &--p3 {
            left: 20%;
            top: 10rem;

            @include respond(ipad__horizontal) {
                left: 33%;
                top: 10rem;
            }
            @include respond(iphone8plus) {
                left: 33%;
                top: 17rem;
            }   
            @include respond(iphone678__vertical) {
                left: 33%;
                top: 12rem;
            }
        }

        &:hover {
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }
    }
}