@import '../abstracts//variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 30px;

    @include respond(iphone678__vertical) {
        padding: 0px;
    }
    @include respond(iphone5__horizontal) {
        padding: 0px;
    }
}

html {
    font-size: 62.5%;

    @include respond(ipad__vertical) {
        font-size: 35%;
    }
    @include respond(iphone8plus) {
        font-size: 30%;
    }
    @include respond(iphone8plus__horizontal) {
        font-size: 40%;
    }
    @include respond(iphone678__vertical) {
        font-size: 25%;
    }
}
